
<div class="post detail">
	<h2>
		<span class="post title"><%= @post.title %></span>
		<span class="post price"><%= @post.price %></span>
	</h2>
	<p>
		<span class="post desc"><%= @post.description %></span>
		<span class="post timestamp"><%= @post.updated_at %></span>
	</p>
</div>


<p><a href="/">home</a></p>