
<h1>Add a new Post</h1>
<table>
<tr><td>
  <form method="post" action="/post-add">
    <label for="title">Title:
      <input type="text" id="title" name="title"></label>
    <label for="price">Price:
      <input type="text" id="price" name="price"></label>
    <label for="desc">Description:
      <textarea name="desc"></textarea></label>
    <button type="submit" value="post">post</button>
  </form>
</td></tr>
<tr><td> </td></tr>
</table>



<p><a href="/">home</a></p>